[submodule "lib/zfetch"]
    path = lib/zfetch
    url = https://github.com/truemedian/zfetch
[submodule "lib/zig-clap"]
    path = lib/zig-clap
    url = https://github.com/Hejsil/zig-clap
    branch = zig-master
[submodule "lib/tar"]
    path = lib/tar
    url = https://github.com/mattnite/tar
[submodule "lib/zig-network"]
    path = lib/zig-network
    url = https://github.com/MasterQ32/zig-network
[submodule "lib/zig-uri"]
    path = lib/zig-uri
    url = https://github.com/MasterQ32/zig-uri
[submodule "lib/iguanaTLS"]
    path = lib/iguanaTLS
    url = https://github.com/ve-nt/iguanaTLS
[submodule "lib/hzzp"]
    path = lib/hzzp
    url = https://github.com/truemedian/hzzp
